.form-group--required legend:after {
    content: '*';
    color: #dc3545;
}

.item__icon {
    margin-right: 12px;
} 

/*
app-master-details
*/
.app-master-details__header {
    display: flex;
    padding: 5px;
    background-color: #e0e0e0;
}

.row--selected {
    background-color: #f5f5f5;
}

/*
app-master-details
*/
.app-tree-node {
    border: none;
}

.sidebar .app-tree-node {
    cursor: pointer;
} 

.app-tree-node--dark {
    color: #fff;
}

.app-tree-node--light {
    color: #000;
}

.app-tree-node--empty {
    margin-left: 20px;
}

.app-tree-node__icon {
    cursor: pointer;
}