.app-screen__content {
    padding-top: 10px;
}

.form-group--required legend:after {
    content: '*';
    color: #dc3545;
}

.item__icon {
    margin-right: 12px;
} 

/*
app-master-details
*/
.app-master-details__header {
    display: flex;
    padding: 5px;
    background-color: #e0e0e0;
}

.row--selected {
    background-color: #f5f5f5;
}

/*
app-master-details
*/
.sidebar {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
    box-shadow: 4px 0px 6px 2px rgba(0, 0, 0, .16);
    z-index: 1000;
}

.sidebar--collapsed {
    width: 55px;
    padding-left: 0px;
    padding-right: 0px;
}

.sidebar--extended.sidebar--collapsed .sidebar__header, .sidebar--extended.sidebar--no-title .sidebar__header
{
    margin-top: 32px;
}

.sidebar--collapsed.sidebar--with-title .sidebar__content {
    margin-top: 32px;
}

.sidebar--extended .sidebar__content {
    margin-top: 0px !important;
}

.sidebar--expanded {
    width: 300px !important;
}

.sidebar__footer {
    display: flex;
    justify-content: flex-end;
}

.sidebar--collapsed .sidebar__content, .sidebar--collapsed .sidebar__footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sidebar__item {
    border: none;
    border-radius: 0px 0px !important;
    background-color: transparent;
    cursor: pointer;
    align-items: center;
    display: flex;
    margin: 0px 0px 5px 0px;
}

.sidebar__button {
    margin: 0px 0px 5px 0px;
}

.sidebar__item__icon {
    margin-right: 12px;
}

.sidebar__footer {
    margin-top: auto;
}

/*Themes*/
.sidebar--dark {
    color: #fff !important;
}

.sidebar--dark .sidebar__item {
    color: #fff !important;
}

.sidebar--dark .sidebar__item {
    border-radius: .25rem !important;
}

.sidebar--dark .sidebar__button {
    color: #fff !important;
}

.sidebar--dark .sidebar__item:hover, .sidebar--dark .sidebar__button:hover, .sidebar--dark .sidebar__item--active {
    background-color: #007bff;
}

.app-tree-node {
    border: none;
}

.sidebar .app-tree-node {
    cursor: pointer;
} 

.app-tree-node--dark {
    color: #fff;
}

.app-tree-node--light {
    color: #000;
}

.app-tree-node--empty {
    margin-left: 20px;
}

.app-tree-node__icon {
    cursor: pointer;
}