.sidebar {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    padding: 15px 0px;
}

.sidebar--collapsed {
    width: 55px;
}

.sidebar--extended.sidebar--collapsed .sidebar__header, .sidebar--extended.sidebar--no-title .sidebar__header
{
    margin-top: 32px;
}

.sidebar--collapsed.sidebar--with-title .sidebar__content {
    margin-top: 32px;
}

.sidebar--extended .sidebar__content {
    margin-top: 0px !important;
}

.sidebar--expanded {
    width: 230px !important;
}

.sidebar--collapsed .sidebar__content {
    text-align: center;
}

.sidebar__item {
    border: none;
    border-radius: 0px 0px !important;
    background-color: transparent;
    cursor: pointer;
    align-items: center;
    display: flex;
}

.sidebar__button {
    margin: 0px 0px 5px 0px;
}

.sidebar__item__icon {
    margin-right: 16px;
}

.sidebar__footer {
    margin-top: auto;
}

/*Themes*/
.sidebar--dark {
    color: #fff !important;
}

.sidebar--dark .sidebar__item {
    color: #fff !important;
}

.sidebar--dark .sidebar__item:hover, .sidebar--dark .sidebar__button:hover  {
    background-color: #007bff;
}