body,
html {
  height: 100vh;
}

.view-container {
  display: flex;
  height: 100%;
  overflow: hidden !important;
  flex-direction: row;
}

.view-content {
  flex: 1 1 auto;
  overflow-y: auto;
}

.view--with-toolbar {
  flex-direction: column;
}
