body{
    height: 100vh;
}

.view-container {
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.view-content {
    flex: 1 1 auto;
    height: 100%;
    overflow-y: auto;
}

.view--toolbar {
    flex-direction: column;
}

.view-content--sidebar {
    display: flex;
}