<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="./showcase/styles/bootstrap-4.css"></link>
        <link rel="stylesheet" type="text/css" href="./showcase/styles/bootstrap-vue.css"></link>
        <link rel="stylesheet" type="text/css" href="./showcase/styles/open-icon-bootstrap.css"></link>
    </head>
    <body>
        <div id='app' class="view-container view--with-toolbar">
            <app-toolbar>
                <template v-slot:brand><a href="#" v-on:click="toggleSidebar"><span class="oi oi-menu"></span></a> Custom Brand</template>
                <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
                <b-collapse id="nav-collapse" is-nav>
                    <b-navbar-nav class="ml-auto">
                        <b-nav-item-dropdown text="User 1" right>
                            <b-dropdown-item href="#/profile">Profile</b-dropdown-item>
                            <b-dropdown-item href="#">Logout</b-dropdown-item>
                        </b-nav-item-dropdown>
                    </b-navbar-nav>
                </b-collapse>
            </app-toolbar>
            <div class="view-content view-container">
                <app-sidebar :is-collapsed="mainToolbar.collapsed">
                    <div class="list-group">
                        <app-sidebar-item>
                            <template v-slot:icon>
                                <span class="oi oi-home"></span>
                            </template>
                            Home
                        </app-sidebar-item>
                        <app-sidebar-item @click.native="showTwoColumnLayout()">
                            <template v-slot:icon>
                                <span class="oi oi-beaker"></span>
                            </template>
                            Two Columns
                        </app-sidebar-item>
                    </div>
                    <template v-slot:collapsed>
                    <button type="button" class="btn btn-primary sidebar__button"><span class="oi oi-home"></span></button>
                    <button type="button" class="btn btn-primary sidebar__button"><span class="oi oi-beaker"></span></span></button>
                    </template>
                </app-sidebar>
                <div class="view-content">
                    <h2>Basic Controls</h2>
                    <h3>Input field</h3>
                    <app-input label="Text Input" type="text" size="sm"></app-input>
                    <app-input label="Number Input" type="number" size="sm"></app-input>
                    <app-input label="Password Input" type="password" size="sm"></app-input>
                    <h4>Input with error</h4>
                    <app-input label="Name" type="text" size="sm" :is-valid="false" error="Missing field"></app-input>
                    <h2>Form</h2>
                    <app-form>
                        <b-button type="submit">Submit me!</b-button>
                    </app-form>
                    <h2>Screen Controls</h2>
                    <div style="width: 100%; height: 500px;">
                        <app-screen @new="screenNew" @cancel="screenCancel" @save="screenSave">
                            <template v-slot:default="data">
                                <div class="col-6">
                                    <app-input label="Name" type="text" size="sm" v-model="data.entity.name"></app-input>
                                </div>
                                <div class="col-6">
                                    <app-input label="Last Name" type="text" size="sm" v-model="data.entity.latname"></app-input>
                                </div>
                            </template>
                            <template v-slot:custom-toolbar>
                                <b-button-group class="mx-1">
                                    <b-button @click="doSomething">New</b-button>
                                </b-button-group>
                            </template>
                        </app-screen>
                    </div>
                </div>
            </div>
        </div>
        <script src="./showcase/js/vue.js"></script>
        <script src="./showcase/js/bootstrap-vue.js"></script>
        <script defer src="./showcase/app.js"></script>
    </body>
</html>