.app-master-details {
    flex-direction: column;
    height: 100%;
}

.app-master-details-wrapper--full-height {
    height: 100%;
}

.app-master-details__header {
    display: flex;
    padding: 5px;
    align-items: flex-end;
    padding-bottom: 1rem;
    flex: 0;
}

.app-master-details__description {
    margin: 0px;
}

.app-master-details__content {
    flex: 1;
}

.app-master-details__content--detail {
    display: flex;
}

.app-master-details__detail-index {
    flex: 1 ;
    border: 1px solid #ccc;
}

.app-master-details__detail-index .list-group-item.active {
    background-color: #d7d7d7;
    color: rgb(24, 24, 24);
}

.app-master-details__detail-content {
    flex: 2;
}