.app-table--stripped tr:nth-child(even) {
    background-color: rgba(0,0,0,0.03);
}

/*TODO: Use bootstrap palette*/
.app-table__row--selected td {
    background-color: #d7d7d7;
    color: rgb(24, 24, 24);
}